body {
    font-family: Robot, sans-serif;
    font-size: 0.8em;
    line-height: 1.1;
}
header {
    background-color: #008080;
    width: 100%;
    display: flex;
    align-items: center;
}
header img {
    max-width: 30%;
    height: auto;
    border: 2px solid lightgray;
    box-shadow: 0 0 10px lightgray;
    border-radius: 40%;
    margin: 20px;
}
h1 {
    color: lightgray;
    font-style: italic;
    font-size: 1.6em;
    text-shadow: 1px 1px 30px black;
}

section {
    padding: 20px;
}
h2 {
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
    display: inline-block;
    background-color: #F0F0F0;
    border: 2px solid #008080;
    border-radius: 10px;
    padding: 2px 8px;
    margin-left: 15px;
    margin-bottom: 20px;
}
ul {
    list-style-type: circle;
    line-height: 1.1;
}
.formation li {
    margin-bottom: 20px;
}
li strong {
    font-size: 1em;
    font-weight: bold;
}
li p {
    margin-top: 10px;
}
a {
    text-decoration: none;
    color: #808080;
}
a:hover {
    color: black;
    text-shadow: 1px 1px 5px black;
    text-decoration: none;
}
.back_home {
    display: inline-block;
    background-color: #008080;
    border: 2px solid #808080;
    border-radius: 10px 0;
    padding: 3px 10px;
    margin-left: 15px;
    color: #F0F0F0;
}
footer {
    width: 100%;
    background-color: #008080;
    display: flex;
    justify-content: center;
}
footer p {
    color: lightgray;
    font-size: 0.75em;
    margin: 10px auto;
    text-shadow: 1px 1px 4px black;
}
footer a {
    text-decoration: none;
    color: lightgray;
    transition: 2s;
}
footer a:hover {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}


/* MEDIA QUERIES */

@media screen and (min-width : 500px) {

    header {
        height: 200px;
    }
    header img {
        width: auto;
        height: 150px;
        margin-left: 7%;
    }
    h1 {
        color: lightgray;
        font-style: italic;
        font-size: 1.5em;
        margin-left: 7%;
    }

}

@media screen and (min-width : 700px) {

    .central_page {
        width: 700px;
        margin: 0 auto;
        border: 2px solid #008080;
        border-radius: 50px 0 35px;
        overflow: hidden;
    }

    h1 {
        font-size: 2.5em;
    }
}