body {
    font-family: Robot, sans-serif;
    font-size: 0.8em;
    line-height: 1.1;
}
header {
    background-color: cadetblue;
    width: 100%;
    display: flex;
    align-items: center;
}
header img {
    max-width: 30%;
    height: auto;
    border: 2px solid lightgray;
    box-shadow: 0 0 10px lightgray;
    border-radius: 40%;
    margin: 20px;
}
h1 {
    color: lightgray;
    font-style: italic;
    font-size: 1.6em;
    text-shadow: 1px 1px 30px black;
}

section {
    padding: 20px;
}
h2 {
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
}
footer {
    width: 100%;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
}
footer p {
    color: lightgray;
    font-size: 0.75em;
    margin: 10px auto;
    text-shadow: 1px 1px 4px black;
}
footer a {
    text-decoration: none;
    color: lightgray;
    transition: 2s;
}
footer a:hover {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}


/* MEDIA QUERIES */

@media screen and (min-width : 500px) {

    header {
        height: 200px;
    }
    header img {
        width: auto;
        height: 150px;
        margin-left: 7%;
    }
    h1 {
        color: lightgray;
        font-style: italic;
        font-size: 2em;
        margin-left: 7%;
    }

}

@media screen and (min-width : 700px) {

    .central_page {
        width: 700px;
        margin: 0 auto;
        border: 2px solid cadetblue;
    }

}