@use '/src/styles/variables' as v;

.formation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  section {
    width: 95%;
    margin: 10px 0;
    padding: 10px;
  }
  h2 {
    font-size: v.$subSize;
    margin: 15px;
  }
}

.forma-blue {
  background: v.$primary;
  color: v.$light-ter;
  label {
    background: v.$light-prim;
    border-left: 4px solid v.$light-ter;
    &:hover {
      background: v.$light-ter;
      color: v.$primary;
    }
  }
  li {
    color: v.$primary;
    background: v.$light-ter;
  }
  input:checked + label{
    background: v.$primary;
    color: v.$light-ter;
  }
}
.forma-light {
  background: v.$tertiary;
  color: v.$primary;
  label {
    background: v.$light-ter;
    border-left: 4px solid v.$primary;
    &:hover {
      background: v.$primary;
      color: v.$light-ter;
    }
  }
  li {
    background: v.$primary;
    color: v.$light-ter;
  }
  input:checked + label{
    background: v.$tertiary;
  }
}
.forma-green {
  background: v.$secondary;
  color: v.$light-ter;
  label {
    background: v.$light-sec;
    border-left: 4px solid v.$light-ter;
    &:hover {
      background: v.$light-ter;
      color: v.$secondary;
    }
  }
  li {
    color: v.$secondary;
    background: v.$light-ter;
  }
  input:checked + label{
    background: v.$secondary;
    color: v.$light-ter;
  }
}

.iframe{
 font-size: v.$smallSize;
  line-height: 22px;
}
.dropdown{
  width: 100%;
  display: inline-block;
  label {
    font-size: v.$normalSize;
    border-radius: 0 5px 0 0; 
    position: relative;
    z-index: 2;
    &:hover {
      cursor: cell;
    }
  }
  ul li {
    display: block;
    padding: 15px 15px;
    text-align: justify;
  }
  label {
    text-align: justify;
  }
  label, ul li {
    display: block;
    padding: 15px 15px;
  }
  input {
    display: none;
  }
  input ~ ul{
    position: relative;
    top: -20px;
    z-index: 1;
    height: 0.5px;
    overflow: hidden;
    margin: 0;
  }
  input:checked ~ ul{
    height: auto;
    top: 0;
  }
}
.animate{
  transition: 1s;  
}


@media screen and (min-width : 700px) {
  .formation {
    position: absolute;
    top: 20px;
    margin: 0;
  }
}