@use '/src/styles/variables' as v;

.formation {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 20px;
  section {
    width: 45%;
    h2 {
      font-family: 'Mochiy Pop One';
      font-size: v.$subSize;
      margin: 15px;
    }
  }
}

.float-right{
  float: right;
}
.fa{
 font-size: v.$smallSize;
  line-height: 22px !important;
}
.dropdown{
  width: 100%;
  display: inline-block;
  label {
    font-size: v.$normalSize;
    background: #ECF0F1;
    color: v.$principal;
    border-left: 4px solid v.$principal;
    border-radius: 0 5px 0 0; 
    position: relative;
    z-index: 2;
    &:hover {
      background: v.$principal;
      color: v.$clear;
      cursor: pointer;
    }
  }
  ul li {
    display: block;
    background: white;
    padding: 15px 15px;
    text-align: justify;
  }
  label {
    text-align: justify;
  }
  label, ul li {
    display: block;
    padding: 15px 15px;
  }
  input {
    display: none;
  }
  input ~ ul{
    position: relative;
    top: -20px;
    z-index: 1;
    height: 0.5px;
    overflow: hidden;
    margin: 0;
  }
  input:checked + label{
    background: v.$principal;
    color: v.$clear;
  }
  input:checked ~ ul{
    height: auto;
    top: 0;
  }
}
.animate{
  transition: 1s;  
}
@media screen and (max-width : 900px) {
  .formation {
      flex-direction: column;
      align-items: center;
      section {
        width: 90%;
      }
  }
}

@media screen and (max-width : 700px) {
  .formation {
      position: unset;
      margin: 20px 0;
  }
}