@use '/src/styles/variables' as v;

.load {
    margin: 50px;
    h4 {
        font-size: v.$highSize;
        margin-bottom: 30px;
    }
    p {
        margin: 10px;
    }
}
@media screen and (max-width : 900px) {
    .load {
        margin-top: 20px;
        h4 {
            font-size: v.$titleSize;
            margin-bottom: 30px;
        }
        p {
            margin: 10px;
        }
    }
}