@use '/src/styles/variables' as v;

.to-the-top {
  display: none;
  border: none;
  background: v.$light-ter;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 10px;
  z-index: 99;
  cursor: cell;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.6);
  svg {
    margin: 6px 3px 3px;
  }
  &:hover {
    background: v.$tertiary;
  }
}