// COLOR

$principal: #152A38;
$light-princ: #1B3444;
$secondary: #2F5241;
$light-sec: #305845;
$tertiary: #D6CFB9;
$light-ter: #E4E5DB;

$light-dark: rgba(0,0,0,0.4);

// FONT SIZE

$highSize: 2rem;
$titleSize: 2.3rem;
$subSize: 1.7rem;
$normalSize: 1.2rem;
$smallSize: 1rem;
