// COLOR

/* $principal: #1A3A24;
$second: #3e8b50;
$ter: #245833;
$clear: #c5edcf; */

$principal: #152A38;
$second: #D6CFB9;
$ter: #2F5241;
$clear: #E4E5DB;

// FONT SIZE

$highSize: 2rem;
$titleSize: 1.6rem;
$subSize: 1.3rem;
$normalSize: 1rem;
$smallSize: 0.85rem;
