@use '/src/styles/variables' as v;

.wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 90%;
  p, li {
    font-size: v.$normalSize;
  }
  h3 {
    font-size: v.$subSize;
    font-weight: 500;
  }
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.intro, .skills, .first, .list {
  margin: 10px 0;
}

.first {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.intro {
  text-align: justify;
  padding: 15px 25px;
  background: v.$light-ter;
}

.skills {
  color: v.$light-ter;
  background: v.$principal;
  padding: 25px;
  ul {
    li {
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: center;
      padding: 10px;
      height: 160px;
    }
  }
  img {
    width: 55px;
    height: auto;
    filter: grayscale(1);
  }
}
.list {
  color: v.$light-ter;
  background: v.$secondary;
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  ul {
    width: 250px;
  }
  .right {
    background: v.$light-sec;
    width: 3px;
    padding: 25px 0;
  }
}
.effect {
  padding: 7px 10px;
  border-radius: 20px;
  box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.25);
  width: 150px;
}
.green {
  background: v.$light-sec;
  margin: 10px;
}
.blue {
  background: v.$light-princ;
}


@media screen and (min-width : 900px) {
  
  .wrapper {
    position: absolute;
    top: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .first, .third {
    width: 30%;
  }
  .second, .fourth {
    width: 60%;
  }
  .effect {
    width: unset;
  }
}
