@use '/src/styles/variables' as v;

.wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  h3 {
    font-size: v.$subSize;
    font-weight: 500;
    margin: 10px 0;
  }
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
}

.intro, .skills, .first, .list {
  margin: 10px 0;
}

.first {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.intro, .skills, .list {
  height: fit-content;
  box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.35);
}

.intro {
  text-align: justify;
  padding: 10px 20px;
  background: v.$light-ter;
}

.skills {
  color: v.$font-color;
  background: v.$primary;
  padding: 10px;
  ul {
    li {
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: center;
      padding: 10px;
      height: 100px;
    }
  }
  img {
    width: 35px;
    height: auto;
    filter: grayscale(1);
  }
}
.list {
  color: v.$font-color;
  background: v.$secondary;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  div {
    width: 45%;
  }
  .right {
    background: v.$light-sec;
    width: 3px;
    padding: 10px 0;
  }
}
.effect {
  font-size: 0.9rem;
  padding: 7px 10px;
  border-radius: 20px;
  box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.25);
  width: 115px;
  margin: 10px 0 0;
}
.green {
  background: v.$light-sec;
  margin: 10px;
}
.blue {
  background: v.$light-prim;
}

@media screen and (min-width : 1000px) {
  .wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 30px;
    div {
      margin: 0;
    }
  }
  .intro {
    padding: 20px 40px;
  }
  .skills {
    padding: 10px;
    max-width: 380px;
    img {
      width: 50px;
    }
    .effect {
      width: 100px;
    }
  }

  .list {
    .right {
      background: v.$light-sec;
      width: 3px;
      padding: 25px 0;
    }
  }
  .first {
    grid-column: 1;
    grid-row: 1;
  }
  .second {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
  .third {
    grid-column: 1;
    grid-row: 2 / 4;
    justify-self: center;
  }
  .fourth {
    grid-column: 2 / 4;
    grid-row: 3;
  }
}
