@use '/src/styles/variables' as v;

.border {
  height: 290px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
  
  h3{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: v.$principal;
    text-shadow: 1px 0px 3px v.$principal;
    opacity: 0;
    transition: 1s;
    text-align: left;
    padding: 10px;
    font-size: v.$subSize;
    margin: 0;
  }

  &:hover {
        border: 1px solid white
    }
}
.fa{
  opacity: 0;
  transition: 1s;
  text-shadow: 1px 0px 3px v.$principal;
  color: v.$principal;
  margin: 0;
}
.infos{
  position: absolute;
  fill: #fff;
  color: #fff;
  height: 60px;
  left: 10px;
  top: 220px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: space-around;
}
.card {
  height: 300px;
  width: 300px;
  background: grey;
  border-radius: 10px;
  transition: background 1s;
  background: v.$principal;
  box-shadow: 0px 0px 10px v.$principal;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 30px;
}
.card0 {
  background: url('../../assets/images/profil.jpg') center center no-repeat;
  background-size: 300px;

  &:hover {
        background: url('../../assets/images/profil.jpg') left center no-repeat;
        background-size: 450px;
        h3{
            opacity: 1;
            color: white;
        }
        .fa{
            opacity: 1;
            color: white;
        }
    }
}

@media screen and (max-width : 900px) {
  .card {
    height: 200px;
    width: 200px;
    &:hover {
      background-size: 300px;
    }
  }
  .card0 {
    background-size: 200px;
  }
  .border {
    height: 190px;
    width: 190px;
  }
  .infos{
    top: 120px;
  }
}