@use '/src/styles/variables' as v;

.gal-card {
  color: v.$font-color;
  padding: 20px;
  .description {
    background: v.$primary;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      font-size: 2rem;
    }
    .link{
      color: v.$tertiary;
      text-decoration: underline;
    }
    p {
      text-align: justify;
    }
    .techno {
      width: 100%;
      display: flex;
      justify-content: space-around;
      .effect {
        width: 80px;
        text-align: center;
      }
    }
  }
}

.mini-gallery {
  border: 2px solid v.$secondary;
  border-radius: 15px;
  img {
    height: 200Px;
    width: auto;
    margin: 0.8rem;
  }
}

@media screen and (min-width : 900px) {
  .gal-card {
    display: flex;
    justify-content: space-around;
    div {
      height: fit-content;
      width: 47%;
    }
  }
}