@use '/src/styles/variables' as v;

.head {
    background:  v.$secondary;
    font-family: 'Abhaya Libre';
    font-weight: 800;
    color: v.$light-ter;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px 0;
    h1 {
        font-size: v.$titleSize;
        margin-bottom: 0;
    }
    h2 {
        font-size: v.$subSize;
        margin: 0 0 20px;
    }
}

@media screen and (max-width : 900px) {
    .head {
        h1 {
            font-size: v.$subSize;
        }
        h2 {
            font-size: v.$smallSize;
        }
    }
  }