@use '/src/styles/variables' as v;

.head {
    background:  v.$second;
    font-family: 'Mochiy Pop One';
    color: white;
    height: 90px;
    h1 {
        font-size: 1.6em;
        padding: 10px 0;
    }
    h2 {
        font-size: 1.1em;
        padding-bottom: 20px;
    }
}