@use '/src/styles/variables' as v;

.nav {
  width: 150px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, v.$second 0%, v.$principal 100%);
  position: absolute;
  height: 100%;
  .logo {
    height: 90px;
    background: center / contain no-repeat url('/src/assets/images/FB.png'),
                v.$second;
  }
  button {
    padding: 15px;
    color: white;
    font-family: 'Mochiy Pop One';
    font-size: v.$littleSize;
    border: none;
    background: transparent;
    &:hover {
      box-shadow: inset 0 0 12px 5px v.$clear;
    }
    &.selected {
      color: v.$principal;
      box-shadow: inset 0 0 12px 5px v.$clear;
    }
  }
}
