@use '/src/styles/variables' as v;

.gal-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
}
.preview-card {
  max-width: 350px;
  max-height: 300px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid v.$primary;
  border-radius: 10px;
}

.preview-card img {
  max-width: 100%;
  height: auto;
}

.layer {
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 80%;
  background: v.$light-ter;
  color: v.$primary;
  transition: all 0.9s ease;
  p {
    transition: all 0.9s ease;
    transform: scale(0.1);
    text-align: center;
    font-size: 2rem;
  }
}

.preview-card:hover .layer {
  opacity: 0.8;
  width: 90%;
  transition: all 0.5s ease;
  p {
    transform: scale(1);
    transition: all 0.9s ease;
  }
}
