@use '/src/styles/variables' as v;

.contact {
    padding: 15px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: v.$principal;
    color: white;
    p {
        margin: 0 5px;
        display: flex;
        align-items: center;
        font-size: v.$normalSize;
        a {
            margin-left: 10px;
        }
    }
}

@media screen and (max-width : 700px) {
    .contact {
        flex-direction: column;
        align-items: center;
        p{
            font-size: v.$smallSize;
            svg {
                height: 13px;
            }
        }
    }
  }