.page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  overflow-y: auto;
  position: relative;
}

@media screen and (max-width : 900px) {
  .page {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
}